.container
  max-width: 900px
  margin-left: auto
  margin-right: auto
  font-family: 'Roboto', sans-serif
h2
  font-weight: 400

.content
  opacity: 0
  transition: opacity 1s ease-in

.loaded
  opacity: 1

li
  list-style-type: none

input[type="checkbox"]
  margin-right: 10px
